* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  font-size: 13px;
  background: #33c3f0;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
}

table {
  font-family: 'Raleway', sans-serif;
}

table, tbody, tr, td,
.pure-table tr, .pure-table td, .pure-table {
  border: none;
}

.pure-table td {
  vertical-align: top;
}

p {
  padding-left: 10px;
}

.blackbelly-content {
  background-color: rgba(150,150,150,.5);
  color: white;
}

.our-story-content {
  background-color: rgba(255,255,255,.4);
}

.butterfly-content {
  background-color: rgba(150,150,150,.8);
  color: white;
}

.schedule-events {
  background-color: rgba(150,150,150,.8);
  color: white;
}

.schedule-events td {
  min-width: 80px;
}

.flatirons-content {
  background-color: rgba(50,50,50,.8);
  color: white;
}

.content {
  padding: 1em 1em 3em;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.intro {
  color: white;
}

.intro-banner {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.content-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.intro-head {
  text-align: center;
}

.content-divider {
  padding-top: .4em;
  background: #99ccff;
  color: black;
}

.rsvp-header-button {
  border-radius: 12px;
  background-color: transparent;
}

.rsvp-header-button:hover {
  background-color: rgba(255,255,255,.2);
}

.rsvp-header-button:active {
  background-color: rgba(255,255,255,.5);
}

.rsvp-header-button:focus {
  outline: 0;
}

.last-fm-link {
  float: right;
  font-size: .7em;
}

.last-fm-link img {
  width: 40px;
}

.home-menu {
  background: #919191;
}

.home-menu .pure-menu-heading {
  color: #dddddd;
  font-weight: 400;
}

.pure-menu-link {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.pure-menu-link:hover {
  color: white;
}

.menu-rsvp-button:focus {
  outline: 0;
}

.menu-rsvp-button {
  background-color: rgba(150,150,150,1.0);
}

.home-menu li a:hover,
.home-menu li a:focus,
.home-menu .pure-menu-link:hover,
.home-menu .pure-menu-link:focus {
  background: #bababa;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 80vh;
    overflow-y: auto;
}

.song-data {
  color: black;
}

.song-data p {
  font-size: 14px;
}

.result-heading {
  color: black;
}

.song-request-heading {
  padding-left: 0;
  margin-top: -10px;
}

.pure-menu-heading {
  color: white;
}

input {
  color: black;
}

.video-wrapper {
  position: relative;
  padding-bottom: 130%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-wrapper {
  position: relative;
  padding-bottom: 100%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.to-do-section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.to-do-subsection {
  padding-left: 3%;
}

.to-do-section p {
  padding-left: 3%;
}

.to-do-section h4 {
}

/*
 * Tablet and up
 */
@media (min-width: 48em) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 1.1em;
  }

  .main-text {
    font-size: 1.4em;
  }

  .schedule-events {
    font-size: 1.7em;
  }

  .to-do-section h5 {
    font-size: .8em;
  }

  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }

  .intro-banner {
    font-size: 1.5em;
    padding-top: 25%;
  }

  .small-intro-image {
    display:none;
  }

  .blackbelly {
    background: url('/images/bbexteriordusk.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .our-story {
    background: url('/images/our_story.jpg') no-repeat fixed center/cover; 
    color: black;
  }
  
  .butterfly {
    background: url('/images/butterflypavilion.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .schedule {
    background: url('/images/bubbles.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .flatirons {
    background: url('/images/flatirons.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .save-the-date {
    background: url('/images/neko.jpg') no-repeat fixed center/cover; 
    color: white;
  }
}

/*
 * Mobile-only
 */
@media (max-width: 48em) {
  .intro-banner {
    font-size: 1em;
    padding-top: 50%;
  }

  .to-do-section p {
    padding-left: 3%;
    font-size: 1.2em;
  }

  .large-intro-image {
    display:none;
  }

  .song-list {
    max-height: 348px;
  }

  .blackbelly {
    background: url('/images/bbexteriordusk_mobile.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .our-story {
    background: url('/images/our_story_mobile.jpg') no-repeat fixed center/cover; 
    color: black;
  }
  
  .butterfly {
    background: url('/images/butterflypavilion_mobile.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .schedule {
    background: url('/images/bubbles_mobile.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .flatirons {
    background: url('/images/flatirons_mobile.jpg') no-repeat fixed center/cover; 
    color: white;
  }
  
  .save-the-date {
    background: url('/images/neko_mobile.jpg') no-repeat fixed center/cover; 
    color: white;
  }
}
